In [5]:
import jieba
import jieba.analyse
import pandas as pd
import numpy
from collections import Counter

In [6]:
orgdata = pd.read_csv('STOCK_DAY_AVG_ALL.csv')

In [7]:
orgdata.head()

   股票代號      股票名稱    收盤價   月平均價
0  0050    元大台灣50  98.85  99.29
1  0051   元大中型100  50.40  50.12
2  0052      富邦科技  82.55  83.04
3  0053      元大電子  48.65  48.80
4  0055  元大MSCI金融  20.91  20.86

In [8]:
documents = ['我是國立臺灣師範大學科技系二年級吳亞蓉']
# 精確模式
for sentence in documents:
    seg_list = jieba.cut(sentence)
    print('/'.join(seg_list))

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\happy\AppData\Local\Temp\jieba.cache
Loading model cost 0.808 seconds.
Prefix dict has been built successfully.

我/是/國立/臺/灣師/範大學/科技/系/二年/級/吳亞蓉

In [9]:
jieba.load_userdict('./userdict.txt') #userdict 自己的斷詞字典(自己建立)

for sentence in documents: #從文章中取出第一句話
    seg_list = jieba.cut(sentence) #用結巴 cut 斷詞
    print('/'.join(seg_list)) #並將斷詞用 / 隔開

我/是/國立臺灣師範大學/科技系/二年級/吳亞蓉

In [10]:
orgdata['seg'] = ""
orgdata.head()

   股票代號      股票名稱    收盤價   月平均價 seg
0  0050    元大台灣50  98.85  99.29
1  0051   元大中型100  50.40  50.12
2  0052      富邦科技  82.55  83.04
3  0053      元大電子  48.65  48.80
4  0055  元大MSCI金融  20.91  20.86

In [ ]:
jieba.analyse.set_stop_words('stopwords.txt') #stopwords 自己不要的字的字典(自己建立)
index = 0
for documents in orgdata['content']:
    seg_list = jieba.analyse.extract_tags(documents, 150)
    #seg_list = jieba.lcut(documents)
    orgdata['seg'].iloc[index] = seg_list
    index += 1